Repository Carbo-Tech/Derweze, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, workflows, Database, Backend, Frontend, MockAPI

spostamento degli step di signup in components
  .gitignore
  Backend/app/__pycache__/__init__.cpython-310.pyc
  Backend/app/__pycache__/gunicorn_conf.cpython-39.pyc
  Backend/app/__pycache__/main.cpython-310.pyc
  Backend/app/__pycache__/main.cpython-39.pyc
  Frontend/certs/.capath
  Frontend/certs/devcert.cert
  Frontend/certs/devcert.key
  Frontend/components/signupSteps/StepMailPassword.tsx
  Frontend/pages/signup/index.tsx
  Frontend/pages/signup/steps.tsx
  Frontend/pages/test.tsx
  Frontend/pages/test1.tsx
  Frontend/yarn.lock
  MockAPI/app/__pycache__/gunicorn_conf.cpython-39.pyc
  MockAPI/app/__pycache__/main.cpython-39.pyc
Labels: Frontend

Bug fixes
  Frontend/components/signupSteps/StepData.tsx
  Frontend/components/signupSteps/StepMailPassword.tsx
  Frontend/pages/signup/index.tsx
  Frontend/pages/signup/steps.tsx
Labels: none

Update pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Update pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Update pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Update pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Update pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Completed changes
  .gitignore
  Frontend/components/signupSteps/StepAddress.tsx
  Frontend/components/signupSteps/StepData.tsx
  Frontend/components/signupSteps/StepMailPassword.tsx
  Frontend/package.json
  Frontend/pages/signup.tsx
  Frontend/pages/signup/index.tsx
  Frontend/pages/signup/steps.tsx
  Frontend/pages/test.tsx
  Frontend/pages/test1.tsx
Labels: Frontend

Minor changes
  Frontend/components/signupSteps/StepAddress.tsx
  Frontend/pages/signup.tsx
Labels: none

Update .gitignore
  .gitignore
Labels: none

Basic Authentication mail password
  .gitignore
  Backend/app/main.py
  Frontend/.env
  Frontend/Dockerfile
  Frontend/certs/devcert.cert
  Frontend/certs/devcert.key
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/pages/_app.tsx
  Frontend/pages/api/auth/[...nextauth].js
  Frontend/pages/api/auth/[...nextauth].ts
  Frontend/pages/auth/login.tsx
  Frontend/pages/login.tsx
  Frontend/yarn.lock
Labels: Frontend

Authentication with data handling
  Backend/app/main.py
  Frontend/functions/getUserData.tsx
  Frontend/pages/_app.tsx
  Frontend/pages/api/auth/[...nextauth].ts
  Frontend/pages/dashboard/chart.tsx
  Frontend/pages/dashboard/index.tsx
  Frontend/pages/index.tsx
Labels: none

Protected routes
  Backend/app/main.py
  Frontend/.env
  Frontend/components/Header.tsx
  Frontend/functions/getUserData.tsx
  Frontend/middleware.ts
  Frontend/package.json
  Frontend/pages/_app.tsx
  Frontend/pages/api/auth/[...nextauth].ts
  Frontend/pages/auth/login.tsx
  Frontend/pages/auth/signup.tsx
  Frontend/pages/user/dashboard/chart.tsx
  Frontend/pages/user/dashboard/index.tsx
  Frontend/pages/user/index.tsx
  Frontend/scripts/create-local-server.mjs
Labels: Frontend

changes
  Frontend/components/Header.tsx
  Frontend/package.json
  Frontend/pages/index.tsx
  Frontend/pages/user/index.tsx
Labels: Frontend

Changed .gitignore
  Frontend/.env.local
  Frontend/.gitignore
  Frontend/package-lock.json
  Frontend/yarn.lock
Labels: Frontend

Execute query to populate permissions table
  Backend/app/__pycache__/gunicorn_conf.cpython-39.pyc
  Backend/app/__pycache__/main.cpython-39.pyc
  Database/insert_src/insert.py
Labels: none

Add updateJWT API
  Backend/app/main.py
  MockAPI/app/__pycache__/gunicorn_conf.cpython-39.pyc
  MockAPI/app/__pycache__/main.cpython-39.pyc
Labels: none

Update DB
  Database/schema.sql.bck
  Database/schema.sql.bck2
  Database/schema.sql.old
Labels: Database

renamed permissions.type to permissions.permission
  Database/schema.sql
  Database/schema.sql.old
Labels: Database

getContracts API
  Backend/app/main.py
  Frontend/pages/api/getUserContracts.tsx
Labels: none

called api/contracts/getContractsUser in frontend
  Frontend/components/Footer/footer.tsx
  Frontend/components/Header.tsx
  Frontend/components/chart.tsx
  Frontend/components/pageContent.tsx
  Frontend/components/signupSteps/StepData.tsx
  Frontend/pages/api/contracts/getContractUsage.tsx
  Frontend/pages/api/contracts/getContractsUser.tsx
  Frontend/pages/auth/signup.tsx
  Frontend/pages/index.tsx
  Frontend/pages/user/contracts/[idContract].tsx
  Frontend/pages/user/contracts/index.tsx
  Frontend/pages/user/dashboard/index.tsx
Labels: none

charts, get normalized datetime
  Backend/app/main.py
  Frontend/.vscode/settings.json
  Frontend/components/Charts/ChartsData.tsx
  Frontend/components/Charts/ContractChart.tsx
  Frontend/components/Charts/chart.tsx
  Frontend/components/Charts/usageChart.tsx
  Frontend/components/lineSeparator.tsx
  Frontend/pages/user/dashboard/index.tsx
  MockAPI/app/main.py
Labels: none

procedural generated dataset from a contract
  Backend/app/main.py
  Backend/requirements.txt
  MockAPI/app/main.py
Labels: Backend

dashboard usage line chart
  Backend/app/main.py
  Frontend/components/Charts/usageChart.tsx
  Frontend/pages/api/contracts/getContractUsage.tsx
  Frontend/pages/user/dashboard/index.tsx
  MockAPI/app/main.py
Labels: none

Dashboard complete
  Backend/app/main.py
  Frontend/components/Charts/chart.tsx
  Frontend/pages/api/contracts/getContractProjectedPrice.tsx
  Frontend/pages/api/contracts/getContractUsage.tsx
  Frontend/pages/user/dashboard/index.tsx
  MockAPI/app/__pycache__/gunicorn_conf.cpython-39.pyc
  MockAPI/app/__pycache__/main.cpython-39.pyc
  MockAPI/app/main.py
Labels: none

fixed error if no contract
  Frontend/pages/user/dashboard/index.tsx
Labels: none

Contracts Page
  Backend/app/main.py
  Frontend/components/Charts/chart.tsx
  Frontend/components/Header.tsx
  Frontend/components/User/Contract.tsx
  Frontend/components/functions.tsx
  Frontend/package.json
  Frontend/pages/api/contracts/getInfoContract.tsx
  Frontend/pages/user/contracts.tsx
  Frontend/pages/user/contracts/index.tsx
  Frontend/pages/user/dashboard.tsx
  Frontend/pages/user/dashboard/index.tsx
  Frontend/pages/user/index.tsx
Labels: Frontend

presentation
  Backend/app/main.py
  Frontend/components/Charts/chart.tsx
  Frontend/components/Header.tsx
  Frontend/components/Input.tsx
  Frontend/components/PlansSelector.tsx
  Frontend/components/User/Bill.tsx
  Frontend/components/User/Contract.tsx
  Frontend/components/contractData.tsx
  Frontend/components/functions.tsx
  Frontend/components/signupSteps/StepAddress.tsx
  Frontend/pages/api/contracts/getUserBills.tsx
  Frontend/pages/auth/login.tsx
  Frontend/pages/user/bills.tsx
  Frontend/pages/user/contracts/[idContract].tsx
  Frontend/pages/user/contracts/index.tsx
  Frontend/pages/user/contracts/newContract.tsx
  Frontend/pages/user/contracts/selectContract.tsx
  Frontend/pages/user/dashboard.tsx
  MockAPI/app/main.py
Labels: none

Update newContract.tsx
  Frontend/pages/user/contracts/newContract.tsx
Labels: none

Presentazione Decarli
  Frontend/components/contractData.tsx
  Frontend/pages/index.tsx
  Frontend/pages/user/contracts/newContract.tsx
Labels: none

.github/labeler.yml:

documentation:
  - '**/*.md'
workflows:
  - .github/workflows/*
Database:
  - Database/*
Backend:
  - Backend/*
Frontend:
  - Frontend/*
MockAPI:
  - MockAPI/*
